.header {
  background-color: #121212;
  padding: 20px 40px 0 !important;
  .container-fluid {
    .logo {
      .logo__image {
        img {
          width: 40px;
        }
      }
    }

    .navbar-toggler {
      border: none;
      z-index: 1000;
    }

    #navbarNav {
      transition: none;
    }

    .collapse.navbar-collapse.show {
      position: absolute;
      padding-top: 70px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .menu {
        padding-top: 270px;
        background-color: #fff;
        transition: all 1s ease-out;
        .menu__item {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.6);
          font-size: 32px;
          line-height: 42px;
          padding: 32px 0px 32px 32px;
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-left: 4px solid #ffffff;
          .menu__link {
            color: rgba(0, 0, 0, 0.6);
            font-size: 32px;
            line-height: 42px;
            padding-left: 50px;
            font-weight: 400;
            text-transform: capitalize;
          }

          &::before {
            position: absolute;
            text-align: center;
            content: "↳";
            color: rgba(0, 0, 0, 0.6);
            font-size: 32px;
            line-height: 42px;
          }
        }
      }

      .social-menu {
        background-color: #fff;
        width: 100%;
        &__list {
          .social-menu__item {
            text-align: left;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.6);
            font-size: 32px;
            line-height: 42px;
            padding: 32px 0px 32px 32px;
            display: block;
            margin: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 4px solid #ffffff;
            .social-menu__link {
              text-decoration: none;
              color: rgba(0, 0, 0, 0.6);
              font-size: 32px;
              line-height: 42px;
              padding-left: 50px;
              font-weight: 400;
              text-transform: capitalize;
            }

            &::before {
              position: absolute;
              text-align: center;
              content: "↳";
              color: rgba(0, 0, 0, 0.6);
              font-size: 32px;
              line-height: 42px;
            }
          }
        }
      }
    }
  }

  .collapse.navbar-collapse {
    justify-content: space-between;
    transition: none;
    .menu {
      width: 100%;
      .menu__list {
        margin-top: 240px;
        .menu__item {
          .menu__link {
            text-decoration: none;
            padding-top: 9px;
            padding-bottom: 9px;
            font-size: 12px;
            line-height: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-right: 40px;
            color: #ffffff;
          }
        }
      }
    }

    .social-menu {
      text-align: center;
      text-align: right;
      .social-menu__item {
        margin-left: 16px;
        .social-menu__link {
          .social-menu__icon {
            text-decoration: none;
            color: #1a1b1f;
            width: 22px;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
