body {
  font-family: "Poppins", sans-serif;

  .container {
    max-width: 1280px;
    padding: 0;
  }

  .dark {
    background: #121212;
    padding: 20px 40px 40px 40px;
  }
  .whitearea {
    background: #ffffff;
    padding: 60px 40px 40px 40px;
  }
}

@media (max-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
    .dark {
      background: #121212;
      padding: 0 20px;
    }
  }
}
