body {
  font-family: "Poppins", sans-serif;
  background-color: #ececec;

  .container {
    max-width: 1280px;
    padding: 0;
  }

  .page-title {
    padding: 0 20px;
    .page-title__svg {
      margin: 20px 0px 60px;
      padding: 40px 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .dark-type-1 {
    background: #121212;
    padding: 20px 40px 40px 40px;
  }

  .dark-type-2 {
    background: #121212;
    padding: 20px 40px 0px 40px;
  }

  .whitearea {
    background: #ffffff;
    padding: 60px 40px 40px 40px;
  }

  .yellow-area {
    background: #ffd335;
    padding: 20px 40px 0px 40px;
  }

  .banner {
    &__image {
      margin: 60px 0px;
      padding: 0 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .back-to-top {
    border: none;
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
    .dark-type-1,
    .dark-type-2 {
      background: #121212;
      padding: 0 20px;
    }

    .page-title {
      padding: 0;
      .page-title__svg {
        margin: 0px 0px 28px 0px;
        padding: 20px 0px;
      }
    }

    .whitearea {
      background: #ffffff;
      padding: 40 25px;
    }

    .banner {
      &__image {
        margin: 30px -20px;
        padding: 0;
      }
    }
  }
}
